@mixin quiz-button($background: #1d1d1d, $color: #f0f2f5) {
  background: $background;
  color: $color;
  overflow: hidden;
  white-space: nowrap;
}

@mixin submitted-button__disabled() {
  // Disabled styles
  pointer-events: none;
}

.quiz-card-content {
  width: 100%;
  border-radius: 16px;
  box-shadow: 1px 2px 12px #343333;
  .ant-card-head {
    .ant-card-head-wrapper {
      .ant-card-head-title {
        .green span:nth-child(2) {
          transition: linear 1s;
          color: rgb(25, 102, 51);
        }
        .orange span:nth-child(2) {
          transition: linear 1s;
          color: rgb(212, 109, 41);
        }
        .red span:nth-child(2) {
          transition: linear 1s;
          color: rgb(197, 56, 56);
        }
      }
    }
  }
  .ant-card-body {
    width: 60%;
    margin: 0 auto;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    row-gap: 16px;
  }
  .quiz-card-button__submitted-answer {
    @include quiz-button();
    cursor: default;

    &:disabled,
    :disabled:hover,
    :disabled:active,
    :disabled:hover:active {
      @include submitted-button__disabled();
    }
  }
  .quiz-card-button {
    @include quiz-button;
    transition: 1000ms linear;
    -webkit-transition: background-color 1000ms linear;
    -moz-transition: background-color 1000ms linear;
    -o-transition: background-color 1000ms linear;
    -ms-transition: background-color 1000ms linear;

    // ! TODO Add ellipsis when artist name overflows the button width
    // &:nth-child(3) > span:nth-child(2) {
    // }

    &:hover {
      background: linear-gradient(
        90deg,
        rgba(121, 9, 113, 1) 0%,
        rgba(121, 9, 94, 1) 51%,
        rgba(7, 61, 121, 1) 100%
      );
    }
  }
  // Style which is applied when user picks correct artist
  #true {
    background-color: #50c878;
  }
  // And when user picks wrong artist
  #false {
    background-color: #dc143c;
  }
}

.ant-card-head-title {
  font-size: 20px;
  font-weight: 900;
  color: #1d1d1d;
}

@media only screen and (min-width: 320px) and (max-device-width: 425px) {
  .quiz-card-content {
    .ant-card-body {
      .quiz-card-button {
        font-size: 100%;
      }
    }
  }
}

@media only screen and (min-width: 320px) and (max-device-width: 768px) {
  .quiz-card-content {
    .ant-card-body {
      width: 100%;
    }
  }
}
